body {
background-image: url("Background.jpg");
background-size: cover; 
color: white;
text-align: center;
font-family: Palatino;
}
a:link{
	color: white;
}
a:visited{
	color: black;
}

a:hover{
	color: white;
	text-decoration: underline;
}